// Custom dark theme colors for noidea
$link-color: #6ab0de;
$btn-primary-color: #f18e33;
$code-background-color: #2c3439; 
$code-linenumber-color: #969896;

// Darker background 
$body-background-color: #181a1b;
$sidebar-color: #212529;
$search-background-color: #181a1b;
$table-background-color: #212529;
$feedback-color: darken($sidebar-color, 3%);

// Branding
$header-height: 60px;
$nav-width: 264px;
$transition-duration: 400ms; 